{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Liste des produits</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ product.image }}" class="card-img-top" alt="Image du produit">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <div class="text-muted mb-2">Réf : {{ product.code }}</div>
                        <p class="card-text">
                            {% set min_price = get_minimal_price_for_product(product) %}
                            {% if min_price is not null %}
                                A partir de {{ min_price }}€
                            {% else %}
                                Aucun variant disponible
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
